<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>测试跨域</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.5.1/pixi.min.js"></script>
</head>
<body>
</body>
<script>
	const app = new PIXI.Application();
	document.body.appendChild(app.view);
	var sprite = new PIXI.Sprite.fromImage('<%= url%>');
	app.stage.addChild(sprite);
</script>
</html>